<h1>Welcome to {{title}}</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegeterian</th>
    <th>Soldout</th>
  </tr>

  @for (m of menu_item; track $index) {
  <tr>
    <th [class.soldout]="m.soldOut">{{ m.name }}
      @if(m.soldOut){
        (Sold Out)
      }
    </th>
    <th>{{ m.category }}</th>
    <th>${{ m.price }}</th>
    @if(m.vegetarian){
    <th>Vegeterian</th>}
    @else {
      <th></th>
    }
    <th>
        <button [disabled]="m.soldOut">Add an Order</button>
    </th>
  </tr>
  }
</table>
